.delete {
  position:absolute;
  right:10px;
  top:8px;
  font-size: 1rem;
  font-weight: bold;

}

.wrapper{
  animation: fadeIn 500ms ease-in-out;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper > div {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}