.addCity{
  display: flex;
  padding: 5px;
  margin: 5px auto;
  justify-content: center;
  align-items: center;
}

.input {
  border:none;
  position: relative;
  background: transparent;
  color:white;
  outline: none;
  width: 200px;
  letter-spacing: 12px;
  font-size: 24px;
}
.wrapper{
  position: relative;
  padding:2px;
}
.wrapper::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom:0;
  left:0;
}



.btn {
  margin-left: 5px;
  color:white;
  background: none;
  outline: none;
  border:none;
}